#Build
build
#Swap files
*.swp
*.swo
*.cpp~
*.autosave
*.user
#Data
data/meshes/test.ply
data/meshes/test3Dmodel.ply
data/meshes/intersectingBunny.vtk
data/meshes/intersectingSphere.vtk
data/meshes/intersectingTet/debug.ply
